<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wfzcx.credit">

    <application
        android:name=".app.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="MODEL"
            android:value="
            com.wfzcx.credit.data.model.AccountModel
            " />

        <activity
            android:name=".LaunchActivity"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />

        <activity android:name=".module.main.CreditSearchActivity" />

        <activity android:name=".module.main.ents.CreditEntsListActivity" />

        <activity android:name=".module.main.ents.CreditEntInfoActivity" />

        <activity android:name=".module.main.expo.CreditExpoListActivity" />

        <activity android:name=".module.main.expo.CreditExpoInfoActivity" />

        <activity android:name=".module.main.cases.CreditCaseListActivity" />

        <activity android:name=".module.main.cases.CreditCaseInfoActivity" />

        <activity android:name=".module.main.law.CreditLawsListActivity" />

        <activity android:name=".module.main.law.CreditLawsInfoActivity" />

        <activity android:name=".module.main.trend.CreditTrendListActivity" />

        <activity android:name=".module.main.trend.CreditTrendInfoActivity" />

        <activity android:name=".module.main.news.CreditNewsListActivity" />

        <activity android:name=".module.main.news.CreditNewsInfoActivity" />

        <activity android:name=".module.main.ents.CreditEntsGridActivity" />

        <activity android:name=".module.main.knows.CreditKnowsListActivity" />

        <activity android:name=".module.main.knows.CreditKnowsInfoActivity" />

        <activity android:name=".module.login.LoginActivity" />

    </application>

</manifest>